<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<link rel="icon" href="images/favicon.png" type="image/png" sizes="32x32">

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,600,700&7COpen+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet" type="text/css" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
	<link rel="icon" href="public/images/favicon.png" type="image/png" sizes="32x32">

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,600,700|Open+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="public/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="public/css/style.css" type="text/css" />
	<link rel="stylesheet" href="public/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="public/css/font-icons.css" type="text/css" />


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


	<!-- car Specific Stylesheet -->
	<link rel="stylesheet" href="public/demos/car/car.css" type="text/css" />
	<link rel="stylesheet" href="public/demos/car/css/car-icons/style.css" type="text/css" />
	<link rel="stylesheet" href="public/demos/car/css/fonts.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="public/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="public/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="public/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="public/css/colors.php?color=c85e51" type="text/css" />


	<!-- Timepicker Slider CSS -->
	<link rel="stylesheet" href="public/css/tpicker.css">
	<base href="/">

	<!-- Document Title
	============================================= -->
	<title>EcoStates Elite - Book Service</title>

	<style>

		.dropdown-toggle::after { margin-left: 0.255em; }

		.dark .irs-bar { background-color: #CCC }
		.dark .irs-grid-text { color: #EEE }

		.slide-caption {
			position: absolute;
			opacity: 0;
			max-width: none !important;
			-webkit-transition: opacity .4s .4s, transform .4s .4s ease-in-out ;
			-o-transition: opacity .4s .4s, transform .4s .4s ease-in-out ;
			transition: opacity .4s .4s, transform .4s .4s ease-in-out ;
			-webkit-transform: translateY(50px);
			-ms-transform: translateY(50px);
			-o-transform: translateY(50px);
			transform: translateY(50px);
		}

		.flex-viewport { height: 100% !important; }

		.slide-caption.slider-caption-bottom {
			padding: 20px;
			width: 100%;
			min-width: 100%;
			height: auto !important;
			left: 0;
			top: auto;
			bottom: 0;
		}

		.slide-caption.slider-caption-bottom p {
			margin-bottom: 0;
			font-size: 15px;
		}

		.slide.flex-active-slide .slide-caption {
			opacity: 1;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}

		.slide .slide-caption.card {
			width: auto !important;
			height: auto !important;
			top: 20px;
			font-size: 18px;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
			-webkit-transition: opacity .4s .6s;
			-o-transition: opacity .4s .6s;
			transition: opacity .4s .6s;
		}

	</style>

</head>

<body class="stretched side-push-panel" data-loader-html="<div><img src='public/demos/car/images/page-loader.gif' alt='Loader'></div>">

	<!-- Side Panel Overlay -->
	<div class="body-overlay"></div>

	<!-- Side Panel -->
	<div id="side-panel">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<a href="index.handlebars"><img src="public/demos/car/images/logo@2x.png" alt="Canvas Logo" height="50"></a>

				<p>It has always been, and will always be, about quality. We're passionate about ethically sourcing the finest coffee beans, roasting them with great care. We'd like to hear your message!</p>

				<div class="widget quick-contact-widget form-widget border-0 pt-0 clearfix">

					<h4>Quick Contact</h4>
					<div class="form-result"></div>
					<form id="quick-contact-form" name="quick-contact-form" action="include/form.php" method="post" class="quick-contact-form mb-0">
						<div class="form-process">
							<div class="css3-spinner">
								<div class="css3-spinner-scaler"></div>
							</div>
						</div>
						<input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
						<input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
						<textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
						<input type="text" class="d-none" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
						<input type="hidden" name="prefix" value="quick-contact-form-">
						<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d m-0" value="submit">Send Email</button>
					</form>

				</div>


			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header header-size-custom" data-sticky-shrink="false">
			<div id="header-wrap">
				<div class="container-fluid">
					<div class="header-row flex-lg-row-reverse">

						<!-- Logo
						============================================= -->
						<div id="logo" class="mr-lg-0 ml-lg-auto">
							<a href="index.handlebars" class="standard-logo"><img src="public/demos/car/images/logo.png" alt="Canvas Logo"></a>
							<a href="index.handlebars" class="retina-logo"><img src="public/demos/car/images/logo@2x.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">
							<ul class="menu-container">
								<li class="menu-item"><a class="menu-link" href="index.handlebars"><div>Home</div></a></li>
								<!-- Mega Menu -->
								<li class="menu-item mega-menu"><a class="menu-link" href="services.handlebars"><div>Services</div></a>
									<div class="mega-menu-content mega-menu-style-2">
										<div class="container">
											<div class="row">
												<ul class="sub-menu-container mega-menu-column col-12">
													<li class="menu-item">
														<div class="widget text-center">

															<h3 class="mb-0">Services</h3>
															<a href="services.handlebars" class="button button-small button-rounded button-border button-dark button-black font-primary" style="margin: 10px 0 40px">Show all Services</a>

															<!-- Mega Menu Cars Carousel -->
															<div class="owl-carousel image-carousel carousel-widget" data-margin="20" data-nav="false" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-md="4" data-items-lg="6" data-items-xl="6">
																<div class="oc-item center"><a href="services.handlebars"><img src="public/demos/car/images/mega-menu/1.png" alt="Car">Car Detailing</a></div>
																<div class="oc-item center"><a href="services.handlebars"><img src="public/demos/car/images/mega-menu/13.jpg" alt="Car">Car Wash</a></div>
																<div class="oc-item center"><a href="services.handlebars"><img src="public/demos/car/images/mega-menu/5.png" alt="Car">Elite Full Detail</a></div>
																<div class="oc-item center"><a href="services.handlebars"><img src="public/demos/car/images/mega-menu/6.png" alt="Car">Wet Sanding</a></div>
																<div class="oc-item center"><a href="services.handlebars"><img src="public/demos/car/images/mega-menu/7.png" alt="Car">Exterior & Interior Detail</a></div>
																<div class="oc-item center"><a href="services.handlebars"><img src="public/demos/car/images/mega-menu/8.png" alt="Car">Extras</a></div>
																

															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="menu-item current"><a class="menu-link" href="book.handlebars"><div>Book Now</div></a></li>
								<li class="menu-item"><a class="menu-link" href="about.handlebars"><div>About</div></a></li>
								<li class="menu-item"><a class="menu-link" href="blog.handlebars"><div>News Room</div></a></li>
								
								<li class="menu-item"><a class="menu-link" href="faqs.handlebars"><div>FAQs</div></a></li>
								
								<li class="menu-item"><a class="menu-link" href="contact.handlebars"><div>Contact</div></a></li>
							</ul>
						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->


		<section
        id="page-title"
        class="page-title-parallax page-title-dark include-header"
        style="background-image: url('public/demos/car/images/hero-slider/2.jpg'); 
		 background-size: cover; padding: 140px 0;" 
		 data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;"
      >
        <div class="container clearfix">
          <h1>Book now</h1>
          <span>Book now to get your car clean and clear</span>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Book now</li>
          </ol>
        </div>
      </section>


	

	<div class="section border-top-0 border-bottom-0 mb-0 p-0 bg-transparent footer-stick">
		<div class="container clearfix">

			<div class="row col-mb-50">
				<div class="col-md-6 d-none d-md-flex align-self-end">
					<img src="public/demos\car\images\revslider/2.png" alt="Image" class="mb-0">
				</div>

				<div class="col-md-6 mb-5 subscribe-widget">
					<div class="heading-block">
						<h2></h2>
						<span><strong>Book your Appointment Online by Calling us</strong></span>
					</div>

					<p>Our team works together to provide the best service, we use an Eco-friendly solution to wash your car, eliminating the need for water, looking after the environment as well as your car! -Hand wash  -We arrive to you -High quality Get Directions</p>

					<div class="widget-subscribe-form-result"></div>
					<form id="widget-subscribe-form3" action="include/subscribe.php" method="post" class="mb-0" novalidate="novalidate">
						<div class="input-group" style="max-width:400px;">							
						</div>
						<a href="tel:917-470-6249" class="btn btn-success" >Call Now</a>
					</form>
				</div>
			</div>

		</div>
	</div>

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">

			<div class="content-wrap py-0">
				<div class="section m-0">
					<div class="container">
						<div class="row py-5 clearfix">
							<div class="col-md-4 mb-md-3 mb-5">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="#"><i class="icon-car-battery"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Get Battery Checked</h3>
										<p>We provide you with free car battery health inspection and suggestions</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-md-3 mb-5">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="#"><i class="icon-car-cogs2"></i></a>
									</div>
									<div class="fbox-content">
										<h3>24x7 Service</h3>
										<p>You have complete control on each &amp; every service and product of Eco States Elite</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-md-3 mb-5">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="#"><i class="icon-car-pump"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Fuel consumption</h3>
										<p>Our Tinting service saves your fuel consumption by keeping climate inside car cooler</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 mt-0 mt-md-5">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="#"><i class="icon-car-meter"></i></a>
									</div>
									<div class="fbox-content">
										<h3>High speed wash</h3>
										<p>Get your car washed at high speed and efficiency</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 mt-5">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="#"><i class="icon-car-paint"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Differnt Color Options</h3>
										<p>With our range of colors of PPE, chose a colour of your preference for the pain job</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 mt-5">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="#"><i class="icon-car-wheel"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Wheel polishing</h3>
										<p>Get your wheel a brand new look with our wheel polishing service</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


	
			</div>
		</section>
		<!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark border-0" style="background-color: #080808;">
			<div class="container-fluid px-5 clearfix">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50 justify-content-between">
						<div class="col-lg-7">

							<div class="row col-mb-30">
								<div class="col-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon">
										<h4>Main Menu</h4>
										<ul>
											<li><a href="index.handlebars">Home</a></li>
											<li><a href="services.handlebars">Services</a></li>
											<li><a href="about.handlebars">About</a></li>
										</ul>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon">
										<h4>Learn More</h4>
										<ul>
											<li><a href="contact.handlebars">Contact</a></li>
											<li><a href="faqs.handlebars">FAQs</a></li>
											<li><a href="book.handlebars">Book Now</a></li>
											
										</ul>
									</div>
								</div>
								<div class="col-6 col-lg-3">
									<div class="widget widget_links widget-li-noicon">
										<h4>Learn</h4>
										<ul>
											<li><a href="blog.handlebars">News Room</a></li>
											<li><a href="terms.html">Terms & Conditions</a></li>
											
										</ul>
									</div>
								</div>
								
							</div>

						</div>

						<div class="col-lg-5 text-center text-lg-right">
							<img src="public/demos/car/images/logo-footer.png" alt="Image" height="50">
							<br>
							<div style="color: white">
								<span>&copy; Eco States Elite. All Rights Reserved 2021.</span>
								
							
							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Contact Button
	============================================= -->
	<div id="contact-me" class="icon-line-mail side-panel-trigger bg-color"></div>

	<!-- JavaScripts
	============================================= -->
	 <script src="public/js/jquery.js"></script>
    <script src="public/js/plugins.min.js"></script>

    <!-- Bootstrap Select Plugin -->
    <script src="public/js/components/bs-select.js"></script>

    <!-- Bootstrap Switch Plugin -->
    <script src="public/js/components/bs-switches.js"></script>

    <!-- Datepicker Slider Plugin -->
    <!-- <script src="public/js/components/datepicker.js"></script> -->

    <!-- Date & Time Picker JS -->
    <script src="public/js/components/moment.js"></script>
    <script src="public/js/components/timepicker.js"></script>
    <script src="public/js/components/datepicker.js"></script>

    <!-- Include Date Range Picker -->
    <script src="public/js/components/daterangepicker.js"></script>

    <!-- Range Slider Plugin -->
    <script src="public/js/components/rangeslider.min.js"></script>

    <!-- Timepicker js -->
    <script type="text/javascript" src="public/js/tpicker.js"></script>

  
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/@emretulek/jbvalidator"></script>

    <script>
      $(function () {
        let validator = $("form.needs-validation").jbvalidator({
          errorMessage: true,
          successClass: true,
        });

        //custom validate methode
        validator.validator.custom = function (el, event) {
          if ($(el).is("[name=password]") && $(el).val().length < 5) {
            return "Your password is too weak.";
          }
        };
      });
    </script>

    <!-- Footer Scripts
	============================================= -->
    <script src="public/js/functions.js"></script>


</body>
</html>